<form action="" class="form-inline">
    <div class="form-group">
        <label for="startDate">Start date</label>
        <input type="text" id="startDate" class="form-control datetimepicker">
    </div>
    <div class="form-group">
        <label for="endDate">End date</label>
        <input type="text" id="endDate" class="form-control datetimepicker">
    </div>
</form>

<div class="form-group">
    <label for="datetimepicker2" type="text">Date-time:</label>
    <div class="input-group date" id="datetimepicker2">
        <input type="text" class="form-control"/>
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
</div>

<div class="form-group">
    <label for="daterangepicker1">Date range: </label>
    <input id="daterangepicker1" type="text" class="form-control"/>
</div>
<div class="form-group">
    <label for="daterangepicker2">Datetime range: </label>
    <input id="daterangepicker2" type="text" class="form-control" readonly/>
</div>
<div class="form-group">
    <label for="daterangepicker3">Datetime: </label>
    <input id="daterangepicker3" type="text" class="form-control" readonly/>
</div>